.cases {
    margin-bottom: 30px;

    &__wrapper {
        position: relative;
        background: url("./../img/cases/bgImg.png") no-repeat;
        background-size: cover;
        background-position: center center;
        height: 738px;
        margin-bottom: 40px;

        @media (max-width: 1919px) {
            height: 690px;
        }
            
        @media (max-width: 1439px) {
            height: 500px;
        }
            
        @media (max-width: 1179px) {
            height: 530px;
        }   
            
        @media (max-width: 767px) {   
            margin-bottom: 30px;
        }
    }

    &__title-wrapper {  
        position: absolute;
        width: 58%;
        background-color: white;
        padding: 30px 30px 40px 0;

        @media (max-width: 1439px) {
            padding: 30px 30px 30px 0;
        }

        @media (max-width: 767px) {
            padding: 20px 30px 20px 0;
            width: 100%;     
        }

        h1 {
            color: black;
            margin-bottom: 25px;

            @media (max-width: 1919px) {
                margin-bottom: 20px;
            }

            @media (max-width: 1179px) {
                margin-bottom: 15px;
            }
                
            @media (max-width: 767px) {   
                margin-bottom: 10px;
            }
        }
    }

    &__text {
        font-weight: 300;
    }

    &__filter-list {
        display: flex;
        column-gap: 88px;
        margin-bottom: 40px;

        @media (max-width: 1179px) {
            margin-bottom: 30px;
        }  

        @media (max-width: 767px) {
            column-gap: 50px;
            margin-bottom: 20px;       
        }
    }

    &__filter-btn {
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            width: 16px;
            height: 16px;
            border-top: 1px solid black;
            border-right: 1px solid black;
            transform: rotate(135deg);

            position: absolute;
            right: -60px;
            top: 5px;

            @media (max-width: 1919px) {
                top: 5px;
                width: 13px;
                height: 13px;
            }

            @media (max-width: 1439px) {
                width: 10px;
                height: 10px;
                right: -55px;
            }

            @media (max-width: 1179px) {
                top: 2px;
                right: -50px;
            }
        }

        &:hover {
            color: $brand-color;

            &::after {
                border-top: 1px solid $brand-color;
                border-right: 1px solid $brand-color;
            }
        }

        &.active {
            color: $brand-color;
            &::after {
                border-top: 1px solid $brand-color;
                border-right: 1px solid $brand-color;
                transform: rotate(-45deg);
                top: 15px;

                
                @media (max-width: 1919px) {
                    top: 14px;
                }

                @media (max-width: 1439px) {
                    top: 11px;
                }

                @media (max-width: 1179px) {
                    top: 8px;
                }

            }
        }
    }

    &__filter-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__filter-item {
        padding: 6px 10px;
        border: 1px solid black;
        cursor: pointer;

        &:hover {
            background-color: white;
            border: 1px solid $brand-color;
            color: $brand-color;

            transition: all .3s;
        }

        &.active {
            background-color: $brand-color;
            border: 1px solid $brand-color;
            color: white;
        }
    }

    &__btn-wrapper {
        display: flex;
    }

    &__counter {
        display: inline-block;
        background-color: $black-color;
        color: white;
        margin-left: 8px;


        @media (max-width: 1439px) {
            line-height: normal;
        }

        &.active {
            background-color: $brand-color;
        }
    }
}