.feedback {
    margin-bottom: 85px;

    &__wrapper {
        background-color: $black-color;
        padding: 60px 250px 80px 125px;
        color: $white-color;
    }

    &__content {
        display: flex;
        // justify-content: space-between;
    }

    &__title, &__subtitle {
        margin-left: 34%;
        color: $white-color;
        font-size: 50px;
        line-height: 51px;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
    }

    &__subtitle {
        margin-left: 0;
        margin-bottom: 32px;
    }

    &__square-wrapper {
        width: 51%;
        position: relative;
    }

    &__square-first {
        position: absolute;
        width: 130px;
        height: 130px;
        background-color: $brand-color; 
        top: 87px;
        right: 395px;
        transform: rotate(52deg);
    }

    &__square-second{
        position: absolute;
        width: 120px;
        height: 120px;
        border: 3px solid $brand-color;
        top: 255px;
        left: 19px;
        transform: rotate(18deg);
    }

    &__square-third {
        position: absolute;
        width: 160px;
        height: 160px;
        border: 1px solid $brand-color;
        bottom: -18px;
        left: 141px;
        transform: rotate(-38deg);
    }
}
