.feedback {
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;

    @media (max-width: 1919px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1439px) {
        margin-bottom: 50px;
    }

    &__wrapper {
        background-color: $black-color;
        padding: 60px 0px 80px 0px;
        color: $white-color;

        @media (max-width: 1919px) {
           padding: 50px 20px 50px 20px;
        }

        @media (max-width: 1439px) {
            padding: 40px 20px 40px 20px;
        }

        @media (max-width: 1179px) {
            padding: 30px 20px 30px 20px;
        }

        @media (max-width: 767px) {
            padding: 20px 20px 20px 0px;
        }
    }


    &__content {
        display: flex;
        justify-content: space-between;
          
    }

    &__form {
        width: 50%; 
        // margin-left: 47%;
        
        @media (max-width: 767px) {
            width: 100%;
            margin-left: 5%;
        }
    }


    &__data {
        width: 667px;

        @media (max-width: 1919px) {
            width: 100%;
        }

    }

    &__title, &__subtitle {
        
        color: $white-color;
        font-size: 50px;
        line-height: 51px;
        letter-spacing: 0.05em;
        margin-bottom: 15px;

        @media (max-width: 1919px) {
            font-size: 40px;
            line-height: 50px;
        }
 
        @media (max-width: 1439px) {
            font-size: 35px;
            line-height: 44px;
        }
 
        @media (max-width: 1179px) {
            font-size: 30px;
            line-height: 36px;
        }
 
        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    &__title {
        margin-left: 36%;

        @media (max-width: 767px) {
            margin-bottom: 0;
            margin-left: 5%;
        }

        
    }
    
    &__border {
        border-top: 1px solid $white-color;
        padding-top: 20px;
        width: 73%;

        @media (max-width: 1919px) {
            width: 100%;
        }
    }

    &__subtitle {
        margin-left: 0;
        margin-bottom: 35px;
       
        width: fit-content;

        @media (max-width: 1439px) {
            margin-bottom: 15px;
        }
        @media (max-width: 767px) {
            padding-left: 5%;
        }
    }

    &__square-wrapper {
        width: 50%;
        position: relative;

        @media (max-width: 767px) {
            width: 0%;
        }
    }

    &__square-first {
        position: absolute;
        width: 130px;
        height: 130px;
        background-color: $brand-color; 
        top: 87px;
        left: 315px;
        transform: rotate(52deg);

        @media (max-width: 1919px) {
            width: 122px;
            height: 122px;
            left: 267px;
        }
 
        @media (max-width: 1439px) {
            width: 103px;
            height: 103px;
            left: 240px;
        }
 
        @media (max-width: 1179px) {
            width: 83px;
            height: 83px;
            left: 170px;
        }
 
        @media (max-width: 767px) {
            top: 80px;
            left: 350px;
            width: 20px;
            height: 20px;
            display: none;
        }
    }

    &__square-second {
        position: absolute;
        width: 120px;
        height: 120px;
        border: 3px solid $brand-color;
        top: 255px;
        left: 144px;
        transform: rotate(18deg);

        @media (max-width: 1919px) {
            width: 112px;
            height: 112px; 
            left: 70px;
        }
 
        @media (max-width: 1439px) {
            width: 94px;
            height: 94px;
        }
 
        @media (max-width: 1179px) {
            width: 76px;
            height: 76px;
            left: 50px;
        }
 
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__square-third {
        position: absolute;
        width: 160px;
        height: 160px;
        border: 1px solid $brand-color;
        bottom: -18px;
        left: 266px;
        transform: rotate(-38deg);

        @media (max-width: 1919px) {
            width: 148px;
            height: 148px;
            bottom: 45px;
            left: 182px; 
        }
 
        @media (max-width: 1439px) {
            width: 125px;
            height: 125px;
        }
 
        @media (max-width: 1179px) {
            width: 101px;
            height: 101px;
            left: 140px;
        }
 
        @media (max-width: 767px) {
            width: 28px;
            height: 28px;
            top: 349px;
            left: 6px;
            display: none;
        }
    }
}
