.hero {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $brand-color;
    padding: 45px 40px 45px 32px;
    margin-bottom: 85px;
    
    @media (max-width: 1919px) {
        padding: 40px 40px 40px 30px;
        margin-bottom: 80px;
    }

    @media (max-width: 1439px) {
        padding: 40px 40px 40px 20px;
        margin-bottom: 50px;
    }

    @media (max-width: 1179px) {
        padding: 30px 40px 80px 20px;
    }

    @media (max-width: 767px) {
        padding: 20px 35px 50px 35px;
        flex-direction: column;
        align-items: normal;
    }

    @keyframes resizeImage {
        0% {
          transform: scale(1);
        //   background: url("./../img/main/logo.svg") no-repeat;
        }
        100% {
        //   transform: scale(0.8);
          background: url('./../img/main/logo-animation.svg') no-repeat;
          background-position: left 0 bottom 0;
          
        }
    }

    .w50 {
        width: 50%;
    }

    .animate {
        animation: resizeImage 1s ease-in-out;
        animation-fill-mode: forwards;
        position: fixed;
        top: 120px;
        left: 10%;
    }


    &__img {
        // background: url("./../img/main/logo.svg") no-repeat;
        // background-size: cover;
        width: 50%;
        // width: 595px;
        // height: 232px;
        // margin-right: 291px;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
    

    &__logo {

        @media (max-width: 1919px) {
            width: 460px;
        }
    
        @media (max-width: 1439px) {
            margin-right: 140px;
            width: 356px;
        }
    
        @media (max-width: 1179px) {
            width: 275px;
        }
    
        @media (max-width: 767px) {
            margin-bottom: 10px;
            width: 152px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        color: $white-color;
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
        p {
            white-space: pre-line;
            font-size: 50px;
            line-height: 62px;
            letter-spacing: 0.03em;
            font-weight: 500;
            margin-bottom: 5px;

            @media (max-width: 1919px) {
                font-size: 40px;
                line-height: 50px;
            }
        
            @media (max-width: 1439px) {
                font-size: 35px;
                line-height: 44px;
            }
        
            @media (max-width: 1179px) {
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 10px;
            }
        
            @media (max-width: 767px) {
                margin-bottom: 5px;
                font-size: 25px;
                line-height: 32px;
            }
        }

        span {
            font-weight: 300;
        }

        a {
            display: flex;
            position: absolute;
            right: 140px;
            bottom: 50px;
            color: $white-color;

            @media (max-width: 1919px) {
                bottom: 45px;
            }
        
            @media (max-width: 1439px) {
                bottom: 30px;
            }
        
            @media (max-width: 1179px) {
                right: 40px;
                bottom: 25px;
            }
        
            @media (max-width: 767px) {
                bottom: 10px;
                right: 70px;
            }

            &::after {
                // position: absolute;
                display: block;
                background-image: url("./../img/main/arrow.svg");
                background-repeat: no-repeat;
                content: "";
                width: 21px;
                height: 20px;
                margin-left: 11px;
                margin-top: 13px;

                @media (max-width: 1919px) {
                    margin-top: 8px;
                }

                @media (max-width: 1179px) {
                    margin-top: 4px;
                }

                @media (max-width: 767px) {
                    background-image: url("./../img/main/arrow-small.png");
                    margin-top: 7px;
                    margin-left: 5px;
                }
            }

            &:hover {
                font-weight: 500;
            }
        }
    }

}
