.main-block {
    margin-bottom: 85px;

    @media (max-width: 1919px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1439px) {
        margin-bottom: 50px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__text {
        width: 628px;
        margin-top: 150px;
        margin-right: 90px;

        @media (max-width: 1919px) {
            margin-top: 117px;
            width: 570px;
        }
    
        @media (max-width: 1439px) {
            margin-top: 110px;
            margin-right: 70px;
            width: 480px;
        }
    
        @media (max-width: 1179px) {
            margin-top: 28px;
            margin-right: 35px;
            width: 300px;
        }
    
        @media (max-width: 767px) {
            margin-top: 40px;
        }

        h1 {
            color: $black-color;
            margin-bottom: 15px;

            @media (max-width: 1919px) {
                font-size: 60px;
                line-height: 80px;
            }
        
            @media (max-width: 1439px) {
                font-size: 53px;
                line-height: 65px;
            }
        
            @media (max-width: 1179px) {
                font-size: 33px;
                line-height: 45px;
                margin-bottom: 10px;
            }
        
            @media (max-width: 767px) {
                font-size: 26px;
                line-height: 36px;
            }

            span {
                color: $white-color;
                background-color: $brand-color;
            }
        };
    }

    &__accent-text {
        font-style: italic;
        font-weight: 500;
        font-size: 35px;
        letter-spacing: 0.1em;
        margin-bottom: 25px;

        @media (max-width: 1919px) {
            font-size: 26px;
            margin-bottom: 20px;
        }
    
        @media (max-width: 1439px) {
            font-size: 23px;
        }
    
        @media (max-width: 1179px) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    
        @media (max-width: 767px) {
            font-size: 16px;
            letter-spacing: 0.03em;
        }
    }

    &__description {
        font-weight: 300;
        width: 100%;
    }
    img {
        @media (max-width: 767px) {
            width: 342px;
            height: 200px;
        }
    }

    &__img-wrapper {
        // width: 962px;
        // height: 872px;

        // @media (max-width: 1919px) {
        //     height: 794px;
        //     width: 640px;
        // }
    
        // @media (max-width: 1439px) {
        //     width: 550px;
        //     height: 691px;
        // }
    
        // @media (max-width: 1179px) {
        //     width: 314px;
        //     height: 411px;
        // }
    
        
    }
}