.principles {
    margin-bottom: 85px;

    @media (max-width: 1919px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1439px) {
        margin-bottom: 50px;
    }

    h2 {
        width: 280px;
        color: $black-color;
        margin-bottom: 35px;

        @media (max-width: 1439px) {
            margin-bottom: 25px;
        }

        @media (max-width: 1179px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    &__title {
        font-size: 42px;
        line-height: 57px;
        letter-spacing: 0.05em;
        width: 855px;

        @media (max-width: 1919px) {
            font-size: 35px;
            line-height: 47px; 
        }
    
        @media (max-width: 1439px) { 
            width: 618px;  
            font-size: 30px;
            line-height: 44px;
        }
    
        @media (max-width: 1179px) {
            font-size: 24px;
            line-height: 30px;
        }
    
        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 30px;
            width: 310px;
        }

        &.active {
            color: $brand-color;
            width: 50%;

            @media (max-width: 767px) {
                width: 65%;
            }
        }
    }

    &__list {

        li {
            display: flex;
            position: relative;
            cursor: pointer;
            padding: 20px 0;
            border-bottom: 1px solid #d0caca73;

            &:first-child {
                border-top: 1px solid  #d0caca73;
            }

            &.active + div {
                border: 3px solid $brand-color;
            }

            @media (max-width: 1919px) {
                font-size: 35px;
                line-height: 47px; 
                padding: 15px 0;
            }
        
            @media (max-width: 1439px) {
                font-size: 30px;
                line-height: 44px;
                padding: 10px 0;
            }
        
            @media (max-width: 1179px) {
                font-size: 24px;
                line-height: 30px;
            }
        
            @media (max-width: 767px) {
                flex-direction: column;
            }

            p {
                &:last-child {
                    font-size: 25px;
                    line-height: 40px;
                    font-weight: 300;
                    letter-spacing: 0.05em;
                    margin-top: 80px;
                    width: 50%;
                    color: black;

                    @media (max-width: 1919px) {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0.03em;
                    }
                
                    @media (max-width: 1439px) {
                        font-size: 19px;                     
                    }
                
                    @media (max-width: 1179px) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                
                    @media (max-width: 767px) {
                        font-size: 14px;
                        line-height: 22px;
                        margin-left: 0%;
                        margin-top: 15px;
                        width: 100%;
                    }
                }
                
            }

        }

        
    }
    
    &__button {
        position: absolute;
        right: 0;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        border: 3px solid $black-color;

        @media (max-width: 1919px) {
            top: 10px;
        }

        @media (max-width: 1439px) {
            width: 45px;
            height: 45px;
        }
    
        @media (max-width: 1179px) {
            width: 30px;
            height: 30px;
            border: 2px solid $black-color;
        }
    
        @media (max-width: 767px) {
            width: 25px;
            height: 25px;
            border: 1px solid $black-color;
        }

        &::after {
            right: 10px;
            content: "";
            width: 30px;
            height: 3px;
            background-color: $black-color;
            transform: rotate(90deg);
            
            transition: transform ease 0.2s;

            @media (max-width: 1439px) {
                width: 20px;
            }

            @media (max-width: 1179px) {
                width: 13px;
                height: 2px;
            }

            @media (max-width: 767px) {
                width: 11px;
                height: 2px;
            }
        }

        &::before {
            content: "";
            width: 30px;
            height: 3px;
            background-color: $black-color;
            margin-right: -30px;

            @media (max-width: 1439px) {
                width: 20px;
                margin-right: -20px;
            }

            @media (max-width: 1179px) {
                width: 13px;
                height: 2px;
                margin-right: -13px;
            }

            @media (max-width: 767px) {
                width: 11px;
                height: 2px;
                margin-right: -11px;
            }
        }

        &.active {
            border: 3px solid $brand-color;

            &::before {
                background-color: $brand-color;  
            }

            &::after {
                background-color: $brand-color;
                transform: rotate(0deg);
                transition: transform ease 0.2s;
            }

            @media (max-width: 1179px) {
                
                border: 2px solid $brand-color;
            }
        
            @media (max-width: 767px) {
            
                border: 1px solid $brand-color;
            }
        }
    }
}
