.projects {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1919px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1439px) {
        margin-bottom: 50px;
    }

    h1 {
        color: $brand-color;
        margin-bottom: 45px;
        font-size: 65px;
        line-height: 85px;
        letter-spacing: 0.1em;
        margin-left: -19%;
        width: fit-content;
        

        @media (max-width: 1919px) {
            font-size: 60px;
            line-height: 80px;
            margin-bottom: 20px;
        }
    
        @media (max-width: 1439px) {
            font-size: 53px;
            line-height: 65px;
            letter-spacing: 0.05em;
        }
    
        @media (max-width: 1179px) {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 30px;
            letter-spacing: 0.08em;
        }
    
        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 16px;
            letter-spacing: 0.05em;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 65px;
        width: 100%;

        @media (max-width: 1919px) {
            margin-bottom: 50px;
        }
    
        @media (max-width: 1439px) {
            margin-bottom: 40px;
        }
    
        @media (max-width: 1179px) {
            margin-bottom: 30px;
        }
    
        @media (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 0px;
        }
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 900px;
        border-top: 1px solid $black-color;
        padding-top: 25px;

        &:not(:last-child) {
            margin-right: 30px;
        }

        @media (max-width: 1919px) {
            width: 50%;
            padding-top: 20px;
        }
    
        @media (max-width: 767px) {
            padding-top: 10px;
            margin-bottom: 25px;
            width: 100%;
        }

    }

    &__card--small {
        width: 838px;

        @media (max-width: 1919px) {
            width: 50%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

    }

    &__card--big {
        width: 962px;

        @media (max-width: 1919px) {
            width: 50%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

    }

    &__title {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;
        text-align: end;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0.05em;
        float: right;
        padding-left: 40%;
        color: black;

        
        @media (max-width: 1919px) {
            font-size: 35px;
            line-height: 47px;
            margin-bottom: 35px;
        }

        @media (max-width: 1439px) {
            flex-direction: column-reverse;
            margin-bottom: 15px;
            height: 100%;
        }
            
        @media (max-width: 1179px) {
            font-size: 24px;
            line-height: 30px;
        }
            
        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 30px;
            padding-left: 40%;
            margin-bottom: 10px;
        }

    
        // p {
        //     text-align: end;
        //     width: 469px;
        //     font-size: 42px;
        //     line-height: 50px;
        //     letter-spacing: 0.05em;

        //     @media (max-width: 1919px) {
        //         font-size: 35px;
        //         line-height: 47px;
        //         width: 391px;
        //     }
        
        //     @media (max-width: 1439px) {
        //         font-size: 30px;
        //         line-height: 42px;
        //         letter-spacing: 0.03em;
        //         width: 324px;
        //         margin-bottom: 30px;

        //         position: absolute;
        //         right: 0;
        //     }
        
        //     @media (max-width: 1179px) {
        //         font-size: 24px;
        //         line-height: 30px;
        //         width: 255px;
        //         margin-bottom: 40px;
        //     }
        
        //     @media (max-width: 767px) {
        //         font-size: 20px;
        //         line-height: 30px;
        //         width: 216px;
        //         margin-bottom: 20px;
                
        //     }
        // }
    }

    &__title-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        

        @media (max-width: 1439px) {
            flex-direction: column-reverse;
            margin-bottom: 15px;
            // justify-content: flex-end;
        }

        p {
            text-align: end;
            font-size: 42px;
            line-height: 50px;
            letter-spacing: 0.05em;
            margin-bottom: 50px;
            width: 60%;
            
            @media (max-width: 1919px) {
                font-size: 35px;
                line-height: 47px;
                margin-bottom: 35px;
            }

            @media (max-width: 1439px) {
                margin-bottom: 15px;
                width: 100%;
                padding-left: 30%;
            }
                
            @media (max-width: 1179px) {
                font-size: 24px;
                line-height: 30px;
            }
                
            @media (max-width: 767px) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 10px;
            }
        }

        &--big-card {

            @media (max-width: 1439px) {
                height: calc(100% - 245px);
            }

            @media (max-width: 1179px) {
                height: calc(100% - 195px);
            }

            @media (max-width: 767px) {
                height: auto;
            }
        }
    }

    &__title-link {
        font-size: 25px;
        display: flex;
        color: $brand-color;
        // position: absolute;
        // top: 25px;
        // left: 0;

        @media (max-width: 1919px) {
            // top: 20px;
            font-size: 20px;
            line-height: 30px;
        }

        @media (max-width: 1439px) {
            // position: static;
            font-size: 19px;
        }

        @media (max-width: 1179px) {
            font-size: 16px;
            line-height: 24px;
        }

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 22px;
            // margin-left: -150%;
        }

        &:hover {
            text-decoration: underline;
        }

        &::after {
            content: "";
            background-image: url("./../img/main/our-projects/arrow-projects.svg");
            background-repeat: no-repeat;
            display: block;
            height: 20px;
            width: 22px;
            margin-left: 15px;
            margin-top: 19px;

            @media (max-width: 1919px) {
                margin-top: 8px;
            }
        
            @media (max-width: 1179px) {
                background-image: url("./../img/main/our-projects/arrow-small.svg");
                margin-top: 6px;
                margin-left: 10px;
            }

            @media (max-width: 767px) {
                margin-top: 5px;
            }
        
        }
    }

    &__hero {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-end;
        }

        a {
            padding: 80px 33px;

            @media (max-width: 1919px) {
                padding: 75px 38px;
            }    
            
            @media (max-width: 1439px) {
                padding: 70px 40px;
            }

            @media (max-width: 1179px) {
                padding: 45px 16px;
            }

            @media (max-width: 767px) {
                padding: 9px 25px;
            }
        }
    }

    &__hero-content {
        position: relative;
        width: 40%;
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 0.05px;
        margin-right: 250px;

        @media (max-width: 1919px) {
            font-size: 28px;
            line-height: 38px;
        }
    
        @media (max-width: 1439px) {
            font-size: 25px;
            line-height: 35px;
            margin-right: 200px;
        }
    
        @media (max-width: 1179px) {
            font-size: 22px;
            line-height: 28px;
            margin-right: 183px;
        }
    
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.03px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 320px;
            height: 20px;
            background-image: url("./../img/main/arrow/arrow-1920.png");
            background-repeat: no-repeat;
            right: -200px;
            bottom: 20px;

            @media (max-width: 1919px) {
                bottom: 5px;
                width: 280px;
                background-image: url("./../img/main/arrow/arrow-1440.png");
            }
        
            @media (max-width: 1439px) {
                right: -164px;
                bottom: 3px;
                width: 206px;
                background-image: url("./../img/main/arrow/arrow-1180.png");
            }
        
            @media (max-width: 1179px) {
                width: 165px;
                background-image: url("./../img/main/arrow/arrow-768.png");
            }
        
            @media (max-width: 767px) {
                width: 0;
                height: 0;
                background-image: none;
            }
        }
    }

    &__description {
        display: flex;
        padding: 20px;
        border-left: 1px solid #D0CACA;
        border-right: 1px solid #D0CACA;

        @media (max-width: 1919px) {
            padding: 15px 15px 10px 15px;
        }

        @media (max-width: 1179px) {
            flex-direction: column;
            padding: 10px 10px 5px 10px;
        }
    }

    &__description-wrapper {
        display: flex;
        flex-direction: column;

        & button {
            padding: 16px 0;

            @media (max-width: 1919px) {
                padding: 12px 0;
            }
        
            @media (max-width: 1439px) {
                padding: 10px 0;
            }
        
            @media (max-width: 1179px) {
                padding: 13px 0;
            }
        
            @media (max-width: 767px) {
                padding: 9px 0;
            }
        }
    }

    &__description-column {
        width: 50%;

        @media (max-width: 1179px) {
            width: 100%;
        }
        

        & ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            li {
                display: flex;
                width: 100%;

                font-weight: 300;
                font-size: 21px;
                line-height: 30px;

                @media (max-width: 1919px) {
                    font-size: 17px;
                    line-height: 22px;
                }
            
                @media (max-width: 1439px) {
                    font-size: 15px;
                    line-height: 20px;
                }
            
                @media (max-width: 1179px) {
                    font-size: 13px;
                    line-height: 18px;
                    margin-bottom: 5px;
                }
            
                @media (max-width: 767px) {
                    // padding: 9px 35px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;

        
                    @media (max-width: 1179px) {
                        margin-bottom: 5px;
                    }
                }
            }

            span {
                display: inline-flex;

                &:first-child {
                    width: 80px;

                    @media (max-width: 1919px) {                     
                        width: 65px;
                    }
                
                    @media (max-width: 1439px) {
                        width: 60px;
                    }
                
                    @media (max-width: 1179px)  {
                        width: 55px; 
                    }
                }

                &:last-child {
                    width: 80%;
                    color: $brand-color;
                    font-weight: 400;
                
                    @media (max-width: 1179px) {
                        width: 70%;
                    }
                }
            }
        }     
    }

    &__description-link {
        color: $brand-color;
        font-weight: 400;

        &:hover {
            text-decoration: underline;
        }
    }

    &__nda-wrapper {
        display: flex;
        position: absolute;
        width: fit-content !important;
        top: 20px;
        left: 20px;

        &.active {
            .projects__nda-description {
                display: block !important;
            }

            .projects__nda {
                background-color: $brand-color;
                color: white;
            }

            .projects__nda-img {            
                &::before {
                    background: url('./../img/main/our-projects/lock-white.svg') no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }

    &__nda {
        display: flex;
        align-items: center;
        font-size: 21px;
        line-height: 30px;
        background-color: white;
        padding: 8px 20px;
        color: $brand-color;
        z-index: 3;
        height: fit-content;
        width: fit-content;

        transition: 0.3s;

        // &:hover {
        //     color: $white-color;
        //     background-color: $brand-color;
        //     transition: 0.3s;
        // }

        @media (max-width: 1919px) {
            padding: 6px 16px;
            font-size: 17px;
            line-height: 22px;
        }

        @media (max-width: 1439px) {
            font-size: 15px;
            line-height: 20px;
        }
            
        @media (max-width: 1179px) {
            padding: 6px 14px;
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__nda-description {
        display: none;
        padding: 20px 15px;
        font-size: 21px;
        line-height: 25px;
        width: 60%;
        background-color: $white-color;

        p {
            margin-bottom: 10px;
        }

        @media (max-width: 1919px) {
            font-size: 17px;
            line-height: 22px;
            padding: 15px;    
        }

        @media (max-width: 1439px) {
            font-size: 15px;
            line-height: 20px;
            padding: 10px;
            width: 53%;
        }
            
        @media (max-width: 1179px) {
            font-size: 13px;
            line-height: 18px;
        }
            
        @media (max-width: 767px) {
            
        }

        a {
            width: fit-content;
            font-size: 25px;
            line-height: 40px;
            padding: 10px 40px;

            @media (max-width: 1919px) {
                font-size: 20px;
                line-height: 30px;
            }
    
            @media (max-width: 1439px) {
                padding: 5px 35px;
                font-size: 19px;
            }
                
            @media (max-width: 1179px) {
                padding: 6px 30px;
                font-size: 16px;
                line-height: 24px;
            }
                
            @media (max-width: 767px) {
                padding: 4px 30px;
                font-size: 11px;
                line-height: 15px;
            }
    
        }
    } 

    &__nda-img {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            background: url('./../img/main/our-projects/lock-brand.svg') no-repeat center center;
            background-size: contain;
            width: 30px;
            height: 38px;
            margin-right: 15px;

            @media (max-width: 1919px) {
                margin-right: 12px;
                width: 24px;
                height: 30px;
            }
    
            @media (max-width: 1439px) {
                width: 22px;
                height: 28px;
                margin-right: 10px;
            }
                
            @media (max-width: 1179px) {
                width: 16px;
                height: 20px;
            }
        }
    }

    &__img-wrapper {
        position: relative;
        width: 100%; 
        height: 430px;
        overflow: hidden; 
        
        @media (max-width: 1919px) {
            height: 380px;
        }
    
        @media (max-width: 1439px) {
            height: 310px;
        }
    
        @media (max-width: 1179px) {
            height: 240px;
        }
    
        @media (max-width: 767px) {
            height: 200px;
        }

        &--small {
            height: 300px;

            @media (max-width: 1919px) {
                height: 280px;
            }
        
            @media (max-width: 1439px) {
                height: 230px;
            }
        
            @media (max-width: 1179px) {
                height: 180px;
            }
        
            @media (max-width: 767px) {
                height: 200px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &__button {
        padding: 15px 55px;
        border: 1px solid $black-color;
        width: fit-content;

        @media (max-width: 1919px) {
            padding: 15px 45px;
        }
    
        @media (max-width: 1439px) {
            padding: 10px 45px;
        }
    
        @media (max-width: 1179px) {
            padding: 16px 35px;
        }
    
        @media (max-width: 767px) {
            padding: 9px 35px;
        }

        @media (hover: hover ) {
            &:hover{
                color: $brand-color;
                border: 1px solid $brand-color;
                transition: .2s;
            }
        }
        

        &:active {
            color: white;
            background-color: $brand-color;
            transition: .2s;
            border: 1px solid $brand-color;
        }
    }

    &__description-goal {
        width: 55px !important;
    }
}