<<<<<<< HEAD
.we-can {
    margin-bottom: 85px; 

    @media (max-width: 1919px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1439px) {
        margin-bottom: 50px;
    }

    &__content {
        padding: 40px 0;
        background-color: $brand-color;
        text-align: center;
    
        @media (max-width: 1179px) {
            padding: 30px 0;
        }

        @media (max-width: 767px) {
            padding: 14px 20px 14px 5%;
        }
    }

    h3 {
        font-size: 65px;
        line-height: 85px;
        letter-spacing: 0.1em;
        margin-bottom: 25px;
        margin-left: 34%;
        width: fit-content;
        color: $white-color;
        font-weight: 500;
        text-transform: uppercase;

        @media (max-width: 1919px) {
            font-size: 60px;
            line-height: 80px;
            margin-bottom: 20px;
        }
    
        @media (max-width: 1439px) {
            font-size: 53px;
            line-height: 65px;
            letter-spacing: 0.05em;
        }
    
        @media (max-width: 1179px) {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 30px;
            letter-spacing: 0.08em;
        }
    
        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 16px;
            letter-spacing: 0.05em;
            margin-left: auto;
            margin-right: auto;
        }
    }

    a {
        display: block;
        width: 37%;
        padding: 10px 0;
        background-color: $white-color;
        color: $brand-color;
        margin-left: 50%;
        font-weight: 300;

        &:hover {
            background-color: rgb(245, 245, 245);
        }

        @media (max-width: 1919px) {
            width: 48%;
        }

        @media (max-width: 1439px) {
            
        }
    
        @media (max-width: 1179px) {
            
        }

        @media (max-width: 767px) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 8px 0;
        }
    }
=======
.we-can {
    margin-bottom: 85px; 

    @media (max-width: 1919px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1439px) {
        margin-bottom: 50px;
    }

    &__content {
        padding: 40px 0;
        background-color: $brand-color;
        text-align: center;
    }

    h3 {
        font-size: 65px;
        line-height: 85px;
        letter-spacing: 0.1em;
        margin-bottom: 25px;
        margin-left: 34%;
        width: fit-content;
        color: $white-color;
        font-weight: 500;
        text-transform: uppercase;

        @media (max-width: 1919px) {
            font-size: 60px;
            line-height: 80px;
            margin-bottom: 20px;
        }
    
        @media (max-width: 1439px) {
            font-size: 53px;
            line-height: 65px;
            letter-spacing: 0.05em;
        }
    
        @media (max-width: 1179px) {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 30px;
            letter-spacing: 0.08em;
        }
    
        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 16px;
            letter-spacing: 0.05em;
            margin-left: auto;
            margin-right: auto;
        }
    }

    a {
        display: block;
        width: 40%;
        padding: 10px 0;
        background-color: $white-color;
        color: $brand-color;
        margin-left: 47%;
        font-weight: 300;

        &:hover {
            background-color: rgb(245, 245, 245);
        }

        @media (max-width: 767px) {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            padding: 8px 0;
        }
    }
>>>>>>> ea19f0a9f0440b69cc6b413c9a19fc7b8dba21be
}