.audit {   
    margin-bottom: 85px;

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;

        @media (max-width: 1919px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    
    img {
        position: relative;
        z-index: -1;
    }

    &__order {
        border-top: 1px solid $black-color;
        padding: 25px 30px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 867px;
        
        @media (max-width: 1919px) {
            width: 45%;
        }

        @media (max-width: 1179px) {
            padding: 20px 20px 0 0;
        }

        @media (max-width: 767px) {
            padding: 0;
            width: 100%;
            border-top: none;

            button {
                display: flex;
                font-size: 14px;
                line-height: 22px;
                justify-content: center
            }
        }
    }

    &__title {
        line-height: 62px;
        width: 500px;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 0.05em;

        @media (max-width: 1919px) {
            font-size: 40px;
        }

        @media (max-width: 1439px) {
            font-size: 35px;
            line-height: 44px;
            letter-spacing: 0.03em;
        }

        @media (max-width: 1179px) {
            font-size: 30px;
        }

        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 10px;
            font-size: 25px;
        }
    }

    &__text {
        width: 650px;
        font-size: 25px;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: 0.05em;
        margin-bottom: 40px;

        @media (max-width: 1439px) {
            width: 83%;
            font-size: 19px;
            line-height: 30px;
            letter-spacing: 0.03em;
        }

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 15px;
        }
    }

    &__form-wrapper {
        width: 962px;
        border-top: 1px solid $black-color;
        padding-top: 25px;

        @media (max-width: 1919px) {
            width: 55%;
        }

        @media (max-width: 767px) {
            padding-top: 15px;
            border-top: none;
            width: 100%;
        }
    }

    &__form {
        display: flex;
        background-color: $black-color;
        padding: 150px 16px 50px 22px;

        @media (max-width: 767px) {
            padding: 46px 16px 20px 11px;
        }

        input {
            color: $white-color;
            width: 440px;
            margin-right: 12px;

            @media (max-width: 1919px) {
                width: 65%;
            }
        }

        button {
            position: relative;
            margin-bottom: -45px;
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 0.05em;
            color: $white-color;

            &:hover {
                font-weight: 400;
            }

            &:active {
                font-weight: 500;
            }


            @media (max-width: 1439px) {
                font-size: 19px;
                line-height: 30px;
                letter-spacing: 0.03em;
                margin-right: 36px;
            }

            @media (max-width: 767px) {
                font-size: 13px;
                line-height: 22px;
                margin-bottom: -30px;
            }

            &::after { 
                display: block;
                content: "";
                width: 6px;
                height: 6px;
                transform: rotate(45deg);
                border-top: 2px solid $white-color;
                border-right: 2px solid $white-color;

                position: absolute;
                bottom: 46px;
                left: 190px;

                @media (max-width: 1439px) {
                    left: 147px;
                }

                @media (max-width: 1179px) {
                    top: 40px;
                    left: 144px;
                }

                @media (max-width: 767px) {
                    top: 33px;
                    left: 106px;
                    width: 5px;
                    height: 5px;
                }
            }

            &::before {
                display: block;
                content: "";
                width: 20px;
                height: 2px;
                background-color: $white-color;
                margin-right: 60px;

                position: absolute;
                top: 50px;
                left: 175px;

                @media (max-width: 1439px) {
                    left: 132px;
                }

                @media (max-width: 1179px) {
                    top: 42px;
                    left: 129px;
                }

                @media (max-width: 767px) {
                    height: 1px;
                    top: 35px;
                    left: 89px;
                }
            }
        }
    }
}