.seo-reasons {
    margin-bottom: 85px;
    
    & > * {
        padding: 20px 100px 45px 120px;
        background-color: $seo-background-color;
        display: flex;

        @media (max-width: 1919px) {
            padding: 20px 97px 45px 97px;
        }
    }

    &__title {
        position: relative;
        border-right: 1px solid #D0CACA;

        @media (max-width: 1919px) {
            width: 30%;
        }

        p {
            padding-top: 30px;
            width: 428px;
            color: $brand-color;
            font-size: 50px;
            font-weight: 500;
            line-height: 62px;
            letter-spacing: 0.05em;
        }

        & .square-big {
            position: absolute;
            top: 300px;
            left: 55px;
            transform: rotate(30deg);
        }
    }

    &__text {
        position: relative;
        width: 765px;
        padding-top: 25px;
        margin-left: 75px;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: 0.05em;
        z-index: 3;

        @media (max-width: 1919px) {
            width: 70%;
        }

        li {
            margin-left: 46px;
            list-style: disc;
        }

        ul {      
            margin-bottom: 25px;
        }

        p {
            &:nth-child(3) {
                font-weight: 400;
            }
        }

        & .square-middle {  
            position: absolute;
            right: -90px;
            top: 220px;
            transform: rotate(116deg);
            z-index: 2;

            @media (max-width: 1919px) {
                right: -2%;
            }
        }

        & .square-small {
            position: absolute;
            left: 695px;
            bottom: -6px;
            transform: rotate(30deg);
        }
    }
}