.seo-nav {
    margin-bottom: 35px;

    &__list {
        display: flex;
        padding: 20px 110px;
        background-color: $gray-color;

        li {
            color: rgba($black-color, 0.6);
            font-size: 25px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0.05em;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 90px;
            }
        }
    }

    .active {
        color: $black-color;
    }

    
}