.seo {  
    margin-bottom: 85px;

    @media (max-width: 1439px) {
        margin-bottom: 70px;
    }

    @media (max-width: 1179px) {
        margin-bottom: 50px;
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;

    }
    // HEADER
    &__header {
        display: flex;
        background-color: $seo-background-color;
        padding: 30px 100px 0px 125px;

        @media (max-width: 1919px) {
            padding: 20px 97px 0px;
        }

        @media (max-width: 1179px) {
            flex-direction: column;
            padding: 30px 66px 0px;
        }
    
        @media (max-width: 767px) {
            padding: 25px 20px 0px;
        }
    }

    h2 {
        white-space: pre-line;
    }

    &__title {
        position: relative;
        width: 667px;
        padding-top: 15px;
        border-right: 1px solid #d0caca73;

        @media (max-width: 1919px) {
            width: 35%;
            padding-top: 15px;
        }

        @media (max-width: 1179px) {
            padding-top: 0px;
            border-right: none;
        }

        @media (max-width: 767px) {
            width: 70%;
        }

        & .square-big {  
            position: absolute;
            top: 436px;
            left: 63px;
            transform: rotate(142deg);

            @media (max-width: 1919px) {
                top: 70%;
                left: 10%;
            }

            @media (max-width: 1179px) {
                top: 300%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        & .square-middle {  
            position: absolute;
            top: 374px;
            right: 96px;
            transform: rotate(108deg);

            @media (max-width: 1919px) {
                top: 50%;
                left: 35%;
            }

            @media (max-width: 1179px) {
                top: 696%;
                left: 273%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        & .square-small {
            position: absolute;
            top: 206px;
            right: 290px;
            transform: rotate(143deg);

            @media (max-width: 1919px) {
                width: 37px;
                height: 37px;
                top: 35%;
                left: 45%;
            }
    
            @media (max-width: 1179px) {
                width: 19px;
                height: 19px;
                top: 548%;
                left: 25%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

    }

    &__text {
        padding-top: 25px;
        margin-left: 77px;
        width: 798px;
        font-weight: 300;
        letter-spacing: 0.05em;

        @media (max-width: 1919px) {
            padding-top: 60px;
            margin-left: 5%;
            width: 70%;
        }
        
        @media (max-width: 1439px) {
            padding-top: 20px;
        }

        @media (max-width: 1179px) {
            padding-left: 0;
            padding-top: 32px;
            margin-left: 19%;
            width: 80%;
        }
    
        @media (max-width: 767px) {
            padding-top: 35px;
            margin-left: 0px;
            width: 100%;
        }

        & > p {
            margin-bottom: 25px;

            @media (max-width: 1919px) {
                margin-bottom: 20px;
            }

            &:first-child {
                position: relative;
                margin-bottom: 65px;
                font-weight: 400;

                @media (max-width: 1919px) {
                    margin-bottom: 40px;
                }

                @media (max-width: 1179px) {
                    margin-bottom: 35px;
                }

                @media (max-width: 767px) {
                    margin-bottom: 40px;
                }

                &::before {
                    position: absolute;
                    top: -20px;
                    left: -50px;
                    display: block;
                    width: 39px;
                    height: 36px;
                    content: "";
                    background-image: url("./../img/seo/quotation-left.svg");
                    background-size: contain;
                    background-repeat: no-repeat;

                    @media (max-width: 1919px) {
                        left: -25px;
                        width: 23px;
                        height: 23px;
                    }
                    
                    @media (max-width: 1179px) {
                        top: -7px;
                        left: -35px;
                    }

                    @media (max-width: 767px) {
                        width: 15px;
                        height: 15px;
                        left: 0px;
                        top: -15px;
                    }
                }
        
                &::after {
                    position: absolute;
                    bottom: -5px;
                    right: 0;
                    display: block;
                    width: 39px;
                    height: 36px;
                    content: "";
                    background-image: url("./../img/seo/quotation-right.svg");
                    background-size: contain;
                    background-repeat: no-repeat;

                    @media (max-width: 1919px) {
                        bottom: -20px;
                        width: 23px;
                        height: 23px;
                    }

                    @media (max-width: 1179px) {
                        bottom: -15px;
                    }

                    @media (max-width: 767px) {
                        width: 15px;
                        height: 15px;
                        bottom: 0px;
                    }
                }
            }          
        }

        &--inner {
            padding-top: 20px;
            p {
                &:first-child {
                    font-weight: 300;
                }

                &::after {
                    display: inline !important;
                    background-image: none !important;
                }
    
                &::before {
                    background-image: none !important;
                }
            }       
        }
        
    }

    // BODY
    &__body {
        padding: 70px 0px 20px 0px;
        background-color: $seo-background-color;

        // @media (max-width: 1919px) {
        //     padding: 60px 0px 20px 0px;
        // }

        // @media (max-width: 1179px) {
        //     padding: 55px 0px 20px 0px;
        // }

        @media (max-width: 767px) {
            padding: 50px 0 0 0;
        }
    }

    &__body-title {
        margin-left: 124px;   
        margin-bottom: 33px;
        width: 810px;
        font-size: 35px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.05em;

        @media (max-width: 1919px) {
            width: 535px;
            margin-left: 97px;
            margin-bottom: 30px;
            font-size: 26px;
            line-height: 36px; 
        }

        @media (max-width: 1179px) {
            margin-left: 66px;
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.03em;
        }
    
        @media (max-width: 767px) {
            width: 270px;
            margin-left: 20px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__services {
        display: flex;
        background-color: $gray-color;
        padding: 25px 100px 0 120px;

        @media (max-width: 1919px) {
            padding: 15px 100px 0;
        }

        @media (max-width: 1179px) {
            padding: 20px 66px;
            flex-direction: column;
        }

        @media (max-width: 767px) {
            padding: 20px;
        }

        h3 {
            white-space: pre-line;
            width: 667px;
            padding-right: 232px;
            border-right: 1px solid #d0caca73;

            @media (max-width: 1919px) {
                width: 35%;
                padding-right: 0;
            }
    
            @media (max-width: 1179px) {
                margin-bottom: 25px;
                border-right: none;
            }
    
            @media (max-width: 767px) {
                width: 90%;
            }
        }

        &--inner-background {
            background-color: #F8F8F8 !important;
            padding: 0px 100px 0px 120px!important;

            @media (max-width: 1919px) {
                padding: 0 100px 0px 100px!important;
            }

            @media (max-width: 1179px) {
                padding: 0 66px 20px !important;
            }

            @media (max-width: 767px) {
                padding: 20px !important;
            }

            h3 {
                padding-top: 20px;

                @media (max-width: 767px) {
                    padding-top: 0;
                }
            }

            .seo__services-text p:first-child {
                padding-top: 20px;

                @media (max-width: 1179px) {
                    padding-top: 0;
                }
            }
        }

    }

    &__services-text {
        width: 798px;
        margin-left: 77px;
        letter-spacing: 0.05em;

        @media (max-width: 1919px) {
            width: 70%;
            margin-left: 5%;
        }

        @media (max-width: 1179px) {
            margin-left: 19%;
        }

        @media (max-width: 767px) {
            width: 100%;
            margin-left: 0;
        }


        & > p {
            margin-bottom: 25px;

            @media (max-width: 1439px) {
                margin-bottom: 20px;
            }

            @media (max-width: 1179px) {
                margin-bottom: 18px;
            }

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
            
            &:last-child {
                font-weight: 300;

                @media (max-width: 1179px) {
                    margin-bottom: 0;
                }
            }
        }
    }


    // FOOTER

    &__footer {
        background-color: $seo-background-color;
        padding: 45px 120px ;
        z-index: -2;
        
        @media (max-width: 1919px) {
            padding: 60px 100px 40px ;
        }

        @media (max-width: 1179px) {
            padding: 45px 0px 30px;
        }

        &-title {
            width: 1150px;
            font-size: 42px;
            line-height: 57px;;
            margin-bottom: 35px;
            font-weight: 400;
            letter-spacing: 0.05em; 

            @media (max-width: 1919px) {
                width: 70%;
                font-size: 33px;
                line-height: 50px;
                margin-bottom: 30px;
            }

            @media (max-width: 1439px) {
                font-size: 30px;
                line-height: 42px;
            }

            @media (max-width: 1179px) {
                width: 90%;
                padding: 0 0 0 66px;
                font-size: 25px;
                line-height: 35px;
                margin-bottom: 20px;
            }

            @media (max-width: 767px) {
                width: 100%;
                padding: 0 20px 0 20px;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.03em; 
            }
            
            span {
                background-color: $brand-color;
                color:$white-color;
                font-weight: 500;
            }  
        }
        
    }

    &__results {
        display: flex;

        @media (max-width: 1179px) {
            padding-left: 66px;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            padding-left: 20px;
        }


        ul {
            margin-right: 21%;

            @media (max-width: 1179px) {
                margin-right: 10%;
            }

            @media (max-width: 767px) {
                margin-bottom: 10px;
                margin-right: 0;
            }

            &:nth-child(2) {
                margin-right: 0px;
            }
        }

        li {
            display: flex;
            white-space: pre-line;
            font-weight: 300;
            width: fit-content;

            &:not(:last-child) {
                margin-bottom: 15px;

                @media (max-width: 767px) {
                   margin-bottom: 10px;
                }
            }

            &::before {
                margin-right: 15px;

                display: block;
                content: "";
                width: 32px;
                height: 32px;
                background-color: $brand-color;

                @media (max-width: 1919px) {
                    width: 26px;
                    height: 26px;
                }
    
                @media (max-width: 1439px) {
                    width: 20px;
                    height: 20px;
                }
    
                @media (max-width: 1179px) {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        
    }

    &__row {
        background-color: #F8F8F8;
        display: flex;
        margin-bottom: 35px;

        @media (max-width: 1179px) {
            margin-bottom: 0px;
            flex-direction: column;
            padding: 20px 0px 10px 15px;
        }

        @media (max-width: 767px) {
            padding: 20px 0px 10px 0px;
        }
    }

    &__column {
        border-right: 1px solid #D0CACA;
        padding: 25px 15px;

        @media (max-width: 1179px) {
            border-right: none;
            display: flex;
            padding: 10px 66px;
        }

        @media (max-width: 767px) {
            padding: 15px 20px;
        }

        &:nth-child(1) {
            width: 30%;
        }

        &:nth-child(2) {
            width: 30%;
            background-color: #F2F2F2;
        }

        &:nth-child(3) {
            width: 40%;
        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            @media (max-width: 1179px) {
                width: 100%;
            }
        }

        &:last-child {
            border-right: none;
        }

        p {
            font-weight: 300;
            letter-spacing: 0.05em;

            @media (max-width: 1179px) {
                width: 50%;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &-accent {          
            font-weight: 400;
        }
    }

    &__number {
        position: relative;
        font-size: 45px;
        font-weight: 300;
        line-height: 60px;
        height: fit-content;
        z-index: 0;

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 42px;
        }

        @media (max-width: 1179px) {
            margin-right: 20px;
            font-size: 25px;
            line-height: 24px;
        }

        
        &::after {
            position: absolute;
            display: block;
            z-index: -1;
            bottom: 6px;
            left: 8px;
            content: "";
            width: 30px;
            height: 20px;
            background-color: $brand-color;

            @media (max-width: 1439px) {
                bottom: 2px;
                left: 6px;
                width: 24px;
                height: 12px;
            }

            @media (max-width: 1179px) {
                width: 20px;
                height: 10px;
                bottom: -2px;
                left: 2px;
            }
        }

        &--big {
            font-size: 85px ;    

            @media (max-width: 1919px) {
                font-size: 70px;
            }

            @media (max-width: 1439px) {
                font-size: 55px ;
            }

            @media (max-width: 1179px) {
                font-size: 45px;
            }

            @media (max-width: 767px) {
                font-size: 30px;
            }

            &::after {
                bottom: -8px;
                left: 18px;

                @media (max-width: 1919px) {
                    bottom: -2px;
                    left: 15px;
                }
                
                @media (max-width: 1439px) {
                    width: 25px;
                    height: 16px;
                    bottom: -5px;
                    left: 11px;
                }

                @media (max-width: 1179px) {
                    bottom: -12px;
                    left: 10px;
                }

                @media (max-width: 767px) {
                    width: 10px;
                    height: 6px;
                    bottom: 1px;
                    left: 8px;
                }
            }
        }
    }

    &__description {
        margin-left: 50%;
        width: 690px;
        font-weight: 300;
        letter-spacing: 0.05em; 

        @media (max-width: 1919px) {
            width: auto;
        }

        @media (max-width: 1179px) {
            margin-left: 30%;
        }

        @media (max-width: 767px) {
            width: 100%;
            padding: 0px 20px;
            margin-left: 0;
        }
    }

    &__accent-text {
        display: inline;
        // white-space: pre-line;
        font-size: 42px;
        line-height: 57px;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: $white-color;
        background-color: $brand-color;

        @media (max-width: 1919px) {
            font-size: 33px;
            line-height: 50px;
        }

        @media (max-width: 1439px) {
            font-size: 30px;
            line-height: 42px;
        }

        @media (max-width: 767px) {
            font-size: 19px;
            line-height: 25px;
            margin-bottom: 40px;
        }
    }

    &__stages {
        display: flex;
        flex-wrap: wrap;
        padding-top: 122px;
        flex: 0 1 0;

        @media (max-width: 1439px) {
            padding-top: 45px;
            padding-bottom: 77px;
        }

        @media (max-width: 1179px) {
            padding-top: 42px;
            padding-bottom: 70px;
        }

        @media (max-width: 767px) {
            padding-top: 40px;
            padding-bottom: 45px;
        }
    }

    &__stage {
        width: 33%;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 75px;

        @media (max-width: 1439px) {
            width: 50%;
            margin-bottom: 20px;
        }

        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 12px;
        }

        p {
            font-size: 25px;
            font-weight: 300;
            line-height: 38px;
            letter-spacing: 0.05em;
            white-space: pre-line;

            @media (max-width: 1439px) {
                font-size: 19px;
                line-height: 30px;
            }

            @media (max-width: 767px) {
                font-size: 12px;
                line-height: 18px;
            }
        }

        span {
            margin-right: 15px;
        }

    }

    &__content {
        background-color: $seo-background-color;
        padding: 26px 124px 0;

        @media (max-width: 1919px) {
            padding: 26px 40px 0 97px;
        }

        @media (max-width: 1439px) {
            padding: 0px 40px 0 102px;
        }

        @media (max-width: 1179px) {
            padding: 0px 66px;
        }

        @media (max-width: 767px) {
            padding: 0px 20px;
        }

        &:first-child {
            margin-bottom: 100px;
        }
    }

    &__stage-wrapper {
        display: flex;
        background-color: $seo-background-color;
        padding: 0px 200px 45px 124px; 

        @media (max-width: 1439px) {
        }

        @media (max-width: 1179px) {
            padding: 0px 66px 40px;
        }

        @media (max-width: 767px) {
            padding: 0px 20px 25px;
        }
    }

    &__stage-desc {
        width: 570px;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin-right: 30px;

        @media (max-width: 1919px) {
            width: 50%;
            margin-right: 0;
        }
        
        @media (max-width: 767px) {
            width: 100%;
        }

        &:nth-child(1) {
            margin-left: 140%;

            @media (max-width: 1919px) {
                margin-left: 55%;
            }

            @media (max-width: 1179px) {
                margin-left: 51%;
            }

            @media (max-width: 767px) {
                margin-left: 0;
            }
        }

        &:nth-child(2) {
            margin-top: -75px;

            @media (max-width: 767px) {
                margin-top: 40px;
            }

            p:first-child {
                &::after {
                    top: 35px;
                    left: 7px;

                    @media (max-width: 1919px) {
                        top: 29px;
                        left: 4px;
                    }
        
                    @media (max-width: 1439px) {
                        top: 24px;
                    }
        
                    @media (max-width: 1179px) {
                        top: 17px;
                    }
        
                    @media (max-width: 767px) {
    
                    }
                }

                
            }
        }

        &:nth-child(3) {
            margin-top: -75px;
            margin-left: 140%;

            @media (max-width: 1919px) {
                margin-left: 55%;
            }

            @media (max-width: 1179px) {
                margin-left: 51%;
            }

            @media (max-width: 767px) {
                margin-top: 40px;
                margin-left: 0;
            }

            p:first-child {
                &::after {
                    top: 35px;
                    left: 40px;

                    @media (max-width: 1919px) {
                        top: 29px;
                        left: 34px;
                    }
        
                    @media (max-width: 1439px) {
                        top: 22px;
                        left: 28px;
                    }
        
                    @media (max-width: 1179px) {
                        top: 16px;
                        left: 24px;
                    }
        
                    @media (max-width: 767px) {
    
                    }
                }
            }
        }

        & > p:first-child {
            position: relative;
            font-size: 45px;
            font-weight: 400;
            line-height: 60px;
            width: 80%;
            margin-bottom: 30px;
            white-space: pre-line;
            z-index: 2;

            @media (max-width: 1919px) {
                font-size: 40px;
                line-height: 50px;
            }

            @media (max-width: 1439px) {
                font-size: 30px;
                line-height: 42px;
            }

            @media (max-width: 1179px) {
                
                font-size: 24px;
                line-height: 30px;
            }

            @media (max-width: 767px) {
                width: 38%;
                font-size: 22px;
                letter-spacing: 0.05em;
            }

            &::after {
                position: absolute;
                display: block;
                content: "";
                width: 30px;
                height: 15px;
                top: 34px;
                left: 38px;
                background-color: $brand-color;
                z-index: -1;

                @media (max-width: 1919px) {
                    top: 29px;
                    left: 34px;
                }
    
                @media (max-width: 1439px) {
                    top: 23px;
                    left: 29px;
                    width: 18px;
                    height: 12px;
                }
    
                @media (max-width: 1179px) {
                    top: 16px;
                    left: 24px;
                    width: 16px;
                    height: 10px;
                }
    
                @media (max-width: 767px) {
                    width: 12px;
                    height: 8px;
                }
            }

            &::before {
                bottom: -15px;
                position: absolute;
                display: block;
                content: "";
                width: 120px;
                height: 1px;
                background-color: $black-color;
            }
        }

        span {
            font-weight: 400;
            margin-bottom: 20px;
        }

        ul {
            margin-top: 20px;
        }

        li {
            cursor: pointer;
            width: 564px;
            position: relative;
            padding: 15px 0;
            border-bottom: 1px solid #D0CACA;
            color: $black-color;
            
            @media (max-width: 1919px) {
                width: 93%;
                margin-right: 0;
            } 


            &:first-child {
                border-top: 1px solid #D0CACA;
            }

            &::after {
                position: absolute;
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                top: 10px;
                right: 5px;
                transform: rotate(45deg);
                border-bottom: 1px solid $black-color;
                border-right: 1px solid $black-color;

                @media (max-width: 1179px) {
                    width: 15px;
                    height: 15px;
                }
            }

            &:hover {

                &::after {

                    border-bottom: 1px solid $black-color;
                    border-right: 1px solid $black-color;
                    transition: all 1s cubic-bezier(0.25, 1.7, 0.35, 0.8);
                }
            }

            p {
                color: $black-color;
                width: 91%;
            }
        }  
        
        & .active {
            p:first-child {
                font-weight: 400;
                color: $brand-color;
            }

            p:last-child {
                margin-top: 15px;
            }

            &::after {
                transform: rotate(225deg);
                top: 20px;
                border-bottom: 1px solid $brand-color !important;
                border-right: 1px solid $brand-color !important;
                transition: all 1s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            }
        }
    }
}