.about-you {
    position: relative;
    background: url("./../img/seo/about-you-back.webp") no-repeat;
    background-size: cover;
    width: 1830px;
    padding: 65px 94px;
    margin-bottom: 80px;
    
    @media (max-width: 1919px) {
        width: 100%;
        padding: 50px 55px;
    }

    @media (max-width: 1439px) {
        padding: 40px 45px;
    }

    @media (max-width: 1179px) {
        padding: 35px 50px;
    }

    @media (max-width: 767px) {
        padding: 30px 11px;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: #FEFEFECC;
        filter: alpha(Opacity=80);
        opacity: 0.8; 
    }

    &__title {
        text-transform: uppercase;
        white-space: pre-line;
        width: 705px;
        line-height: 85px;
        font-size: 65px;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: $brand-color;
        margin-bottom: 37px;

        @media (max-width: 1439px) {
            font-size: 53px;
            line-height: 65px;
            margin-bottom: 40px;
        }

        @media (max-width: 1179px) {
            font-size: 40px;
            line-height: 58px;
            letter-spacing: 0.08em;
        }

        @media (max-width: 767px) {
            width: fit-content;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 0.05em;
        }
    }

    &__content {
        position: relative;
        z-index: 3;
        padding: 45px 30px;
        width: 1642px;
        background-color: $white-color;
        margin-right: auto;
        margin-left: auto;

        @media (max-width: 1919px) {
            width: 100%;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;

    &__data-wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1439px) {
            flex-direction: column;
        }

    }

    &__data {
        width: 667px;

        @media (max-width: 1919px) {
            width: 50%;
            margin-right: 10px;
        }

        @media (max-width: 1439px) {
            width: 55%;
        }

        @media (max-width: 1179px) {
            width: 80%;
        }
    }

    &__tags-row {
        height: fit-content;
        margin-top: 37px;
        width: 839px;
        display: flex;
        column-gap: 15px;
        row-gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media (max-width: 1919px) {
            width: 50%;
        }

        @media (max-width: 1439px) {
            width: 70%;
            margin-left: 30%;
            margin-top: 0;
        }

        @media (max-width: 1179px) {
            margin-left: 0;
            width: 100%;
            justify-content: flex-start;
        }

        @media (max-width: 767px) {
            column-gap: 8px;
            row-gap: 8px;
        }
    }

    &__tag {
        cursor: pointer;
        height: fit-content;
        padding: 8px 30px;
        background-color: $brand-color;
        color: $white-color;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: 0.05em; 

        @media (max-width: 1179px) {
            line-height: 22px;     
        }

        @media (max-width: 767px) {
            padding: 3px 5px;
            line-height: 22px;
            font-size: 14px;
        }
        &--active {
            background-color: $white-color;
            border: 1px solid $brand-color;
            color: $brand-color;

            &:hover {
                background: #ebebebbf !important;
            }
        }

        &:hover {
            background: linear-gradient(0deg, 
            rgba(0, 0, 0, 0.05), 
            rgba(0, 0, 0, 0.05)),
            linear-gradient(0deg, #71BEAB, #71BEAB);
        }


    }

    &__subtitle {
        font-size: 35px;
        letter-spacing: 0.05em;
        margin-bottom: 25px;

        @media (max-width: 1919px) {
            margin-bottom: 20px;
        }

        @media (max-width: 1179px) {
            font-size: 30px;
            line-height: 42px;
            letter-spacing: 0.03em;
        }

        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__input-wrapper {
        
        margin-bottom: 30px;

        @media (max-width: 767px) {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 45px;

            @media (max-width: 1179px) {
                margin-bottom: 30px;
            }

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }

        input {
            position: relative;
            width: 300px;
               
            @media (max-width: 1919px) {
                width: 47%;
            }

            @media (max-width: 1179px) {
                width: 46%;
            }

            @media (max-width: 767px) {
                width: 85%;
                margin-bottom: 15px;
            }

            &:not(:last-child) {
                margin-right: 60px;

                @media (max-width: 1919px) {
                    margin-right: 5%; 
                }
            }           
        }       
    }

    &__textarea-wrapper {
        width: 667px;
        display: flex;
        flex-direction: column;
        margin-top: -100px;

        @media (max-width: 1919px) {
            width: 50%;
        }

        @media (max-width: 1439px) {
            width: 55%;
            margin-top: 50px;
        }

        @media (max-width: 1179px) {
            width: 75%;
            margin-top: 30px;
        }

        @media (max-width: 767px) {
            width: 100%;

            button {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    &__textarea {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 25px;
        border: 1px solid #CCCCCD;
        width: 100%;
        
        @media (max-width: 1179px) {
            font-size: 14px;
        }

        @media (max-width: 767px) {
            font-size: 13px;
        }

        &:active, &:focus {
            outline: none !important;
            border: 1px solid $brand-color;
        }
    }

    &__politics {   
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0.05em;

        @media (max-width: 1179px) {
            font-size: 11px;    
        }

        @media (max-width: 767px) {
            font-size: 10px;
            line-height: 13px;
            letter-spacing: 0.01em;
        }

        a {
            color: $brand-color;
            font-weight: 500;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        width: 667px;
        display: flex;
        flex-direction: column;

        @media (max-width: 1919px) {
            width: 100%;
        }
    }
    
    &__column {
        display: flex;
        flex-direction: column;
    }

}





