.button {
    background-color: $brand-color;
    color: #FEFEFE;
    padding: 22px 27px;
    font-weight: 300;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.05em;

    &:hover {
        background: linear-gradient(0deg, 
        rgba(0, 0, 0, 0.05), 
        rgba(0, 0, 0, 0.05)),
        linear-gradient(0deg, #71BEAB, #71BEAB);
    }

    &:active {
        font-weight: 500;
        padding: 22px 24px;
    }

    &--middle {
        padding: 10px 0;

        &:active {
            padding: 10px 24px;
        }
    }

    &--small {
        padding: 5px 38px 6px;

        &:active {
            padding: 5px 37px 6px;
        }

        @media (max-width: 1919px) {
            padding: 3px 40px;
        }
    }

    @media (max-width: 1919px) {
        font-size: 18px;
        line-height: 30px;
        padding: 15px 16px;
        letter-spacing: 0.03em;
    }

    @media (max-width: 1179px) {
        font-size: 14px;
        line-height: 28px;
        padding: 12px 9px;
    }

    @media (max-width: 767px) {
        font-size: 10px;
        padding: 14px 6px;
        line-height: 15px;
        letter-spacing: 0.01em;
    }
}
