.about-you {
    position: relative;
    background-image: url("./../img/seo/about-you-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 65px 0;
    margin-bottom: 80px;
    

    @media (max-width: 1919px) {
        width: 95%;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: #FEFEFECC;
        filter: alpha(Opacity=80);
        opacity: 0.8; 
    }

    &__title {
        text-transform: uppercase;
        white-space: pre-line;
        width: 705px;
        line-height: 85px;
        font-size: 65px;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: $brand-color;
        margin-bottom: 80px;
    }

    &__wrapper {
        position: relative;
        z-index: 3;
        padding: 45px 30px;
        width: 1230px;
        background-color: $white-color;

        @media (max-width: 1919px) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__content {
        display: flex; 
        justify-content: space-between;
    }

    &__tags-row {
        height: fit-content;
        margin-top: 37px;
        width: 575px;
        display: flex;
        column-gap: 15px;
        row-gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media (max-width: 1919px) {
            width: auto;
        }
    }

    &__tag {
        cursor: pointer;
        height: fit-content;
        padding: 8px 30px;
        background-color: $brand-color;
        color: $white-color;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: 0.05em; 

        &--active {
            background-color: $white-color;
            border: 1px solid $brand-color;
            color: $brand-color;

            &:hover {
                background: #ebebebbf !important;
            }
        }

        &:hover {
            background: linear-gradient(0deg, 
            rgba(0, 0, 0, 0.05), 
            rgba(0, 0, 0, 0.05)),
            linear-gradient(0deg, #71BEAB, #71BEAB);
        }


    }

    &__politics {
        
        margin-left: -40px;
        width: 466px;
        margin-top: 48px;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0.05em;

        @media (max-width: 1919px) {
            position: absolute;
            bottom: 0;
            margin-left: 30px;
        }

        a {
            color: $brand-color;
            font-weight: 500;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__buttons {
        position: relative;
        @media (max-width: 1919px) {
            width: 49%;
        }
    }
}

.form {
    width: 517px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1919px) {
        margin-right: 20px;
        width: 50%;
    }

    &__subtitle {
        font-size: 35px;
        letter-spacing: 0.05em;
        margin-bottom: 25px;
    }

    &__input-wrapper {
        margin-bottom: 30px;

        input {
            width: 240px;
            
            @media (max-width: 1919px) {
                width: 47%;
            }

            &:not(:last-child) {
                margin-right: 30px;

                @media (max-width: 1919px) {
                    margin-right: 5%;
                }
            }
        }
    }

    &__textarea {
        width: 515px;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 25px;
        border: 1px solid #CCCCCD;
        overflow: auto;

        @media (max-width: 1919px) {
            width: auto;
        }

        &:active, &:focus {
            outline: none !important;
            border: 1px solid $brand-color;
        }
    }

}


