.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 25px 0;
    background-color: $white-color;
    border-bottom: 1px solid $black-color;

    @media (max-width: 1919px) {
        padding: 15px 0;
    }

    @media (max-width: 1439px) {
        padding: 25px 0;
    }

    @media (max-width: 1179px) {
        padding: 10px 0;
    }

    @media (max-width: 767px) {
        padding: 17px 0;
    }

    &__dropbtn {  
        font-family: inherit; /* Важно для вертикального выравнивания на мобильных телефонах */
        margin: 0; /* Важно для вертикального выравнивания на мобильных телефонах */

        &:hover {
            .header__dropdown-content {
                display: block;
                transform: rotateX(0deg);
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__dropdown-submenu {
        position: absolute;
        left: 100%;
        top: 0%;
        background-color: #F4F7F7;
        width: 400px;

        z-index: 10;

        visibility: hidden;
        opacity: 0; 
        transform-origin: 0% 0%;
        transform: rotateX(-90deg);
        transition: .3s linear;  

        @media (max-width: 1919px) {
            width: 330px;
        }

        a {
            padding: 8px 100px 8px 16px !important; 
            position: relative;
            color: $black-color !important;

            &:hover {
                color: $brand-color !important;
                
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url("./../img/main/our-projects/arrow-projects.svg");
                    background-repeat: no-repeat;
                    height: 20px;
                    width: 25px;
                    right: 20px;
                    top: 17px;
                    
                    @media (max-width: 1919px) {
                        top: 10px;
                        right: 15px;
                    }
                }
            }
        }
    }

    &__dropbtn-submenu {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 360px;

        @media (max-width: 1919px) {
            width: 285px;
        }
        
        a {
            width: 100%;
        }

        &:hover {
            background-color: #fff !important;

            a {
                color: $brand-color;
            }
            
            .header__dropdown-submenu {
                display: block;
                transform: rotateX(0deg);
                visibility: visible;
                opacity: 1;
            }

            &::after {
                content: "";
                display: block;
                background-image: url("./../img/main/our-projects/arrow-projects.svg");
                background-repeat: no-repeat;
                height: 20px;
                width: 25px;
                margin-top: 17px;
                margin-right: 20px;
                
                @media (max-width: 1919px) {
                    margin-top: 10px;
                }
            }
        }

        
    }

    &__dropdown-content {
        position: absolute;

        margin-top: 62px;
        background-color: $brand-color;
        min-width: 160px;
        
        z-index: 3;

        visibility: hidden;
        opacity: 0; 
        transform-origin: 0% 0%;
        transform: rotateX(-90deg);
        transition: .3s linear;  

        @media (max-width: 1919px) {
            margin-top: 35px;
        }

        @media (max-width: 1439px) {
            margin-top: 39px;
        }


        a {
            display: block;
            transition: .3s linear;
            color: #fff;
            font-size: 22px;
            line-height: 34px;
            padding: 8px 0 8px 16px;


            @media (max-width: 1919px) {
                font-size: 17px;
                line-height: normal;
                padding: 8px 0px 8px 15px;
            }

            @media (max-width: 1439px) {
                font-size: 16px;
            }
        }

        li {
            margin-right: 0 !important;
        }
    }

    &__logo {
        @media (max-width: 1919px) {
            width: 179px;
        }

        @media (max-width: 1439px) {
            width: 152px;
        }
    
        @media (max-width: 1179px) {
            width: 128px;
        }
    
        @media (max-width: 767px) {
            width: 94px;
            margin-right: 10px;
        }
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;

        @media (max-width: 1179px) {
            display: none;
        }

        li:not(:last-child) {
            margin-right: 40px;
        }

        &.active {
            display: none;
        }
    }

    &__links {
        position: relative;
        font-size: 30px;
        letter-spacing: 0.05em;
        color: $black-color;
        align-content: center;
        font-weight: 300;
        padding: 66px 0;

        &:hover {
            color: $brand-color;
            font-weight: 300;

            &::after {
                width: 100%;
            }
        }

        &::after {
            display: block;
            content: "";
            height: 2px;
            bottom: -4px;
            width: 0%;
            background-color: $brand-color;
            transition: width 0.4s ease-in-out;
        }

        @media (max-width: 1919px) {
            padding: 40px 0;
            font-size: 20px;
            letter-spacing: 0.03em;
            line-height: 30px;
        }

        @media (max-width: 1439px) {
            padding: 44px 0;
        }
    }

    &__other-nav {
        display: flex;
        align-items: center;

        & .button {
            padding: 37px 42px;
            margin-right: 70px;

            @media (max-width: 1919px) {
                padding: 15px 28px;
                margin-right: 80px;   
            }

            @media (max-width: 1439px) {
                padding: 15px 16px;
                margin-right: 45px; 
            }
    
            @media (max-width: 1179px) {
                padding: 12px 19px;
                margin-right: 33px;
            }

            @media (max-width: 767px) {
                padding: 6px 20px;
                white-space: pre-line;
                margin-right: 20px;
            }
        }
    }

    &__lang {
        cursor: pointer;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.05em;
        margin-right: 105px;

        @media (max-width: 1919px) {
            font-size: 18px;
            letter-spacing: 0.03em;
            margin-right: 80px;
        }

        @media (max-width: 1439px) { 
            margin-right: 45px; 
        }
    
        @media (max-width: 1179px) {
            font-size: 14px;
            line-height: 28px;
            margin-right: 33px;          
        }
    
        @media (max-width: 767px) {
            font-size: 11px;
            letter-spacing: 0.01em;
            margin-right: 20px; 
        }
    }

    &__burger {
        position: relative;
        display: block;
        width: 30px;
        height: 1px;
        margin-left: -8px;
        background-color: $black-color;
        
        @media (max-width: 1439px) {
            width: 25px;
        }

        @media (max-width: 1179px) {
            width: 20px;  
        }

        @media (max-width: 767px) {
            width: 12px;
        }

        &::after, &::before {
            content: "";
            
            background-color: $black-color;
            position: absolute;
            width: 40px;
            height: 1px;

            @media (max-width: 1439px) {
                width: 36px;
            }

            @media (max-width: 1179px) {
                width: 30px;
            }

            @media (max-width: 767px) {
                width: 20px;
            }
        }

        &::after {
            top: -10px;
            transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        }

        &::before {
            top: 10px;
            transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        }

        &.active {
            background-color: transparent;

            &::after {
                top: 0;
                transform: rotate(-45deg);
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
            }

            &::before {
                top: 0;
                transform: rotate(45deg);
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
            }
        }
    }

    &__burger-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 23px;
        cursor: pointer;
        margin-right: 0;
    }

    &__burger-column {
        position: relative; 
        &:not(:last-child) {
            margin-right: 16%; 
            
            @media (max-width: 1919px) {
                margin-right: 0;
            }
        }    
        
        &:last-child {
            @media (max-width: 1179px) {
                display: none;
            }
        }

        @media (max-width: 1919px) {
            margin-right: 0;
        }

        @media (max-width: 1179px) {
            &:first-child {
                margin-right: 25%;
            }
        }

        @media (max-width: 767px) {
            height: calc(100vh - 150px);
            &:first-child {
                width: 290px;
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }

    &__burger-column--mobile {
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__burger-nav-wrapper {
        width: 100vw;
        background-color: #fff;
        
        position: absolute;
        top: 166px;
        left: -100000px;

        &.active {
            top: 162px;
            height: 100vh;
            left: 0;

            @media (max-width: 1919px) {
                top: 100px;
                height: calc(100vh - 100px);   
            }
    
            @media (max-width: 1439px) {
                top: 110px;
                height: calc(100vh - 110px);   
            }
    
            @media (max-width: 1179px) {
                top: 70px;
                height: calc(100vh - 70px);
                overflow: auto; 
            }
        }

        @media (max-width: 1919px) {
            top: 100px;
            height: calc(100vh - 100px);   
        }

        @media (max-width: 1439px) {
            top: 110px;
            height: calc(100vh - 110px);   
        }

        @media (max-width: 1179px) {
            top: 70px;
            height: calc(100vh - 70px);
            overflow: auto; 
        }
    }

    &__burger-nav {
        display: flex;
        width: 1860px;
        margin: auto;
        padding: 0 15px 0;
        justify-content: space-between;
        margin-top: 6%;

        @media (max-width: 1919px) {
            width: 95%;
            padding: 0 4% 0 0;
        }
    
        @media (max-width: 1439px) {
            
        }
    
        @media (max-width: 1179px) {
            justify-content: left;
        }
    
        @media (max-width: 767px) {
            margin-top: 12%;
        }

    }

    &__network-wrapper {
        position: absolute;
        bottom: 0;

        &.active {
            @media (max-width: 767px) {
                position: static;
                margin-top: 100px;
                padding-bottom: 20px;
            }
        }

    }

    &__burger-link {
        color: $black-color;
        font-size: 35px;
        line-height: 50px;

        @media (max-width: 1919px) {
            font-size: 32px;
            line-height: 42px;
        }

        @media (max-width: 1439px) {
            font-size: 28px;
            line-height: 42px;
        }

        @media (max-width: 1179px) {
            font-size: 24px;
            line-height: 30px;
        }
        
        @media (max-width: 767px) {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
        }

        &:hover {
            color: $brand-color;
        } 

        &--mobile {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__accordion {
        display: none;

        @media (max-width: 767px) {
            display: block;
            font-size: 30px;
            line-height: 40px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                color: $brand-color;

                &::after {
                    border-bottom: 1px solid $brand-color;
                    border-right: 1px solid $brand-color;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 14px;
                height: 14px;
                top: 10px;
                right: 45%;
                transform: rotate(45deg);
                border-bottom: 1px solid $black-color;
                border-right: 1px solid $black-color;
            }

            &.active {
                color: $brand-color;
                &::after {
                    border-bottom: 1px solid $brand-color;
                    border-right: 1px solid $brand-color;
                }
            }
        }
    }

    &__nav-item {
        &:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: 1439px) {
                margin-bottom: 15px;
            }
        }
    }

    &__nav-item--tablet {
        display: none;

        @media (max-width: 1179px) {
            display: flex;
        }
    }

    
    &__network-wrapper--tablet {
        display: none;

        @media (max-width: 1179px) {
            display: block;
        }
    }

    &__nav-item--big {
        &:not(:last-child) {
            margin-bottom: 50px;

            @media (max-width: 1919px) {
                margin-bottom: 40px;
            }

            @media (max-width: 1439px) {
                margin-bottom: 28px;
            }

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
    }

    &__burger-link--big {
        font-size: 65px;
        line-height: 85px;
        font-weight: 500;

        @media (max-width: 1919px) {
            font-size: 60px;
            line-height: 80px;
            letter-spacing: 0.1em;
        }

        @media (max-width: 1439px) {
            font-size: 53px;
            letter-spacing: 0.05em;
        }

        @media (max-width: 1179px) {
            font-size: 40px;
            line-height: 50px;
        }

        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &__mobile-menu {
        display: none;

        @media (max-width: 767px) {
            &.active {
                display: block;
                margin-top: 20px;
            }
        }
    }

}
