.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 27px 0;
    background-color: $white-color;
    border-bottom: 1px solid $black-color;

    @media (max-width: 1920px) {
        padding: 15px 0;
    }

    @media (max-width: 1440px) {
        padding: 25px 0;
    }

    @media (max-width: 1180px) {
        padding: 10px 0;
    }

    @media (max-width: 768px) {
        padding: 17px 0;
    }

    &__logo {
        @media (max-width: 1920px) {
            width: 179px;
        }

        @media (max-width: 1440px) {
            width: 152px;
        }
    
        @media (max-width: 1180px) {
            width: 128px;
        }
    
        @media (max-width: 768px) {
            width: 94px;
        }
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;

        @media (max-width: 1180px) {
            display: none;
        }

        li:not(:last-child) {
            margin-right: 45px;
            
            @media (max-width: 1920px) {
                margin-right: 35px;
            }

            @media (max-width: 1440px) {
                margin-right: 20px;
            }
        }

        li a {
            position: relative;
            font-size: 30px;
            letter-spacing: 0.05em;
            color: $black-color;
            align-content: center;
            font-weight: 300;

            &:hover {
                color: $brand-color;
                font-weight: 300;

                &::after {
                    width: 100%;
                }
            }

            &::after {
                display: block;
                content: "";
                height: 2px;
                bottom: -4px;
                width: 0%;
                background-color: $brand-color;
                transition: width 0.4s ease-in-out;
            }

            @media (max-width: 1920px) {
                font-size: 20px;
                letter-spacing: 0.03em;
                line-height: 30px;
            }
        }
    }

    &__other-nav {
        display: flex;
        align-items: center;

        &>*:not(:last-child) {
            margin-right: 77px;

            @media (max-width: 1440px) {
                margin-right: 25px;
            }

            @media (max-width: 768px) {
                margin-right: 33px;
            }
        }

        img {
            cursor: pointer;

            @media (max-width: 1920px) {
                width: 40px;
            }
            
            @media (max-width: 1440px) {
                width: 36px;
            }

            @media (max-width: 1180px) {
                width: 30px;  
            }
        }
    }

    &__lang {
        cursor: pointer;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.05em;

        @media (max-width: 1920px) {
            font-size: 18px;
            letter-spacing: 0.03em;
        }
    
        @media (max-width: 1180px) {
            font-size: 14px;
            line-height: 28px;          
        }
    
        @media (max-width: 768px) {
            font-size: 11px;
            letter-spacing: 0.01em; 
        }
    }
}
