

html {
    height: 100%; /* sticky footer */
    scroll-behavior: smooth;
}
body {
    position: relative;;
    height: 100%;  /* sticky footer */
    display: flex; /* sticky footer */
    flex-direction: column; /* sticky footer */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $black-color;
    font-size: 25px;
    line-height: 38px;

    @media (max-width: 1920px) {
        font-size: 20px;   
        line-height: 30px;
        letter-spacing: 0.03em;       
    }

    @media (max-width: 1440px) {
        font-size: 19px;
        line-height: 30px;
    }

    @media (max-width: 1180px) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 22px;
    }
}

body > * {
    flex-shrink: 0; /* sticky footer */
}

.container {
    width: 1860px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1920px) {
        width: 95%;
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
    }

}

.hidden {
    display: none;
    opacity: 0;
    z-index: -1;
}
