

html {
    height: 100%; /* sticky footer */
    scroll-behavior: smooth;
    scroll-padding-top: 238px;

    @media (max-width: 1919px) {
        scroll-padding-top: 173px;
    }

    @media (max-width: 1179px) {
        scroll-padding-top: 138px;
    }
}
body {
    position: relative;;
    height: 100%;  /* sticky footer */
    display: flex; /* sticky footer */
    flex-direction: column; /* sticky footer */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $black-color;
    font-size: 25px;
    line-height: 40px;

    @media (max-width: 1919px) {
        font-size: 20px;   
        line-height: 30px;
        letter-spacing: 0.03em;       
    }

    @media (max-width: 1439px) {
        font-size: 19px;
    }

    @media (max-width: 1179px) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 22px;
    }
}

body > * {
    flex-shrink: 0; /* sticky footer */
}

.container {
    width: 1860px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1919px) {
        width: 95%;
        padding-left: 0;
        padding-right: 0;
    }

}

main {
    margin-top: 165px;

    @media (max-width: 1919px) {
        margin-top: 98px;
    }

    @media (max-width: 1439px) {
        margin-top: 108px;
    }

    @media (max-width: 1179px) {
        margin-top: 70px;
    }

    @media (max-width: 767px) {
        margin-top: 94px;
    }
}

.hidden {
    display: none !important; 
    opacity: 0;
    z-index: -1;
}
